<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        td{
            border:1px solid green;
            width:100px;
            margin:10px;
        }
    </style>
    <script>
        function del(id){
            if (confirm("Are you sure del this student?")) {
                document.location="/del_student/"+id;
            }
        }
    </script>
</head>
<body>
<a href="/edit_student/0">新建</a>
<a href="#">刷新</a>

<form action="/" method="post">
    <table id="t1">
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>操作</th>
        </tr>
        {% for stu in stues %}
        <tr>
            <td>{{ stu[0] }}</td>
            <td>{{ stu[1] }}</td>
            <td>{{ stu[2] }}</td>
            <!--<td><a href="/edit_student/{{ stu[0] }}">Edit</a></td>-->
            <!--<td><a href="javascript:del({{ stu[0] }})">Del</a></td>-->
            <td><a href="/edit_student/{{ stu[0] }}"><img src="/res/images/b3.png" style="width:10px;height:10px;"></a></td>
            <td><a href="javascript:del({{ stu[0] }})"><img src="/res/images/b4.png" style="width:10px;height:10px;"></a></td>
        </tr>

        {% endfor %}
    </table>

</form>
</body>
</html>